---
import { SEO } from 'astro-seo';
import thumbnail from '../images/thumbnail.png';
interface Props {
	title: string;
}

const { title } = Astro.props;
const description = "Modelo de Gestión e Interacción CoSocial";
const url_thumbnail = "https://www.deseocompartir.cl"+thumbnail.src;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "web",
          image: url_thumbnail,
        }
      }}
      twitter={{
        creator: "@esnavarrog"
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: url_thumbnail,
          },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
        ],
      }}
    />
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: IBM Plex Sans Hebrew, system-ui, IBM Plex Sans Hebrew, sans-serif;
		background: #fff;
	}
	main {
		color: white;
		font-size: 20px;
		line-height: 1.6;
		margin: auto;
		user-select: none;
	}
</style>

<script>
	import AOS from 'aos';
	import 'aos/dist/aos.css'; // You can also use <link> for styles
	// ..
	AOS.init({
		duration: 500
	});
</script>